.main_taskPage {
    margin-top: 30px;
}

.main_taskPage h1 {
    text-align: center;
}

.create_task_main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 10px;
    margin-top: 20px;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 10px;
    margin-top: 20px;
}

.search-input {
    margin-right: 8px;
    padding: 8px;
}

.search-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    line-height: 22px;
}

.task-item {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 16px;
    background-color: #f2f2f2;
}

.task-info {
    flex: 1;
}

.task-info h3 {
    margin: 0;
}

.task-actions button {
    margin-right: 8px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.task-actions button:nth-child(1) {
    background-color: green;
}

.task-actions button:nth-child(2) {
    background-color: red;
}


/* TasksForm */
.main_tasks_form form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main_tasks_form div {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main_tasks_form form input {
    width: 100%;
    padding: 5px 10px;
}

.tasksForm_select {
    width: 100%;
    padding: 8px 10px;
}

/* SearchTask */

.main_search_task form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 15px;
    align-items: center;
}

.main_search_task div {
    width: 12%;
}

.main_search_task form input {
    width: 100%;
}



@media screen and (max-width: 1200px) {

    /* TasksForm */
    .main_tasks_form form {
        flex-direction: column;
    }

    .main_tasks_form div {
        width: 22%;
    }

    /* SearchTask */
    .main_search_task form {
        flex-direction: column;
        gap: 15px 0;
    }

    .main_search_task div {
        width: 22%;
    }
}

@media screen and (max-width: 768px) {

    /* TasksForm */

    .main_tasks_form div {
        width: 12rem;
    }

    /* SearchTask */

    .main_search_task div {
        width: 12rem;
    }

    /* TaskData */
    .task-item {
        flex-direction: column;
    }
}